.teamSelector {
  width: 50% !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .teamSelector {
    width: 50% !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .teamSelector {
    width: 25% !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .teamSelector {
    width: 25% !important;
  }
}